/*Fonts Google*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*Variables*/
:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --negro:black;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}
/*Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand',sans-serif;
    color:var(--blanco);
}

/*Cabecera*/
.cabeceraPrincipal{
    background-color: #003053;
    width: 81%;
    margin: 0px 19.5%;
    display: flex;



    
}
.cabeceraPrincipal img{
    padding: 1em 2em;
    width: 17%; 
    

    
}
.menuRedesSociales{
    width: 81%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.menuRedesSociales img{
    width: 4%;
    height: 20%;
    padding: 0em 0em;




}

nav.Servicio{
    background-color:   #888a94;
    display: flex;
    justify-content: center;
    width: 81%;
    align-items: center;
    padding: 0%;
    margin: auto;
    font-size: 15px;
    text-align: center;
    margin-left: 19.5%;
    border-style: groove;
}
section.Register h2{
    display:flex;
    justify-content:center;
    width: 81%;
    font-size: 120%;
    margin: 0px 19.5%;
    background-color:#184463;
    color: white;
    align-items:center;
    padding: auto;   
    border-style:groove;
    border-color: black;
    text-align: center;
    height: auto;
    position: relative;
    margin-bottom: -16%;

}

/*Aside*/
aside.gir{
    display: flex;
    justify-content: center;
}
aside.gir img{
    width: 81%;
    margin: auto;
    margin-top: 16%;
    margin-left: 19.5%;
    border-style: groove;
  

}
/*Layout*/

.menu-dashboard {
    max-width: 160px;
    height: 185vh;
    background:var(--bg-menu);
    padding: 20px;
    transition: max-width .3s ease;
    border-style: groove;
    margin-top: -66%;
}
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-menu .logo {
    display: flex;
    align-items: center;
}
.top-menu .logo img {
    width: 81px;
    transition: width .3s ease;
}
.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}
.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.top-menu .toggle i {
    font-size: 35px;
}

/*Input box*/
.input-search {
    width: 81%;
    margin: 5%;
    background-color: var(--blanco);  
    padding: 15px;
    border-radius: 8000px;
    display: flex;
    align-items: center;
}
.input-search i {
    font-size: 30px;
    margin-right: 20px;
}
.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100;
    height: 30px;
    color: var(--azul-opacidad);
    font-size: 22px;
    display: none;
}

/*Enlaces Menu*/
.menu{

    margin: 20px;
}

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}
.menu .enlace:hover {
    background: var(--negro);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

/*Flooters*/
.footer {
    padding: 30px 0;
    background-color:#003053;
   
}
.footer h3 {
    font-size: 15px;
    text-align:left;
    margin-left: 19.5%;
   
}
.footer p{
    font-size: 15px;
    text-align: left;
    margin-left: 19.5%;

}

/*soli*/
aside.iniciar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 54%;
    margin-top: 16%;
    margin-bottom:-11%;
}
section.form-register {
    width: 81%;
    margin: 42px 13.5%;
    align-items: center;
    padding: auto;
    text-align: center;
    position:relative;
    margin-top: 11%;
    color:var(--azul-opacidad);
    
    
    
}
section.form-register h2{
    display: flex;
    justify-content: center;
    width: 85%;
    font-size: 140%;
    padding: 0%;
    background-color: #888a94;
    color: black;
    align-items: stretch;
    padding: 10px;
    border-style: groove;
    margin: auto;
    margin-left: 7.5%;
}
input.controls{
    width: 85%;
    display:flex;
    background-color: #c7c8cf;
    font-size: 18px;
    padding: 5px;
    justify-content: space-between;
    align-items: stretch;
    border-color: black;
    margin: auto;
    border-style: groove;
}
section.uno{
    width: 85; 
    text-align: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    height: auto;
    letter-spacing: 0.5px;
    box-sizing: content-box;
  }
section.uno a{
    color: black;
    border-style: outset;
    padding: 15px;
    margin: 52%;
    background-color: #888a94;
    border-color: black;
}
section.uno a:hover{
    color: white;
}
/*turno*/
section.turno{
    width: 81%;
    margin: 42px 13.5%;
    align-items: center;
    padding: auto;
    text-align: center;
    position:relative;
    margin-top: 11%;
    color:black

}
section.turno .gestion{
    background-color: rgb(222, 222, 227);
    width: 85%;
    margin: auto;
    text-align: center;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    font-size: 100%;
    border-style:double;
    align-items: center;
    color:black;
}
section.turno .cuadro{
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 1%;
    height: auto;
    margin: auto;
    width: 10%;
    font-size: 15px;
    display: flex;
    background-color: #888a94;
    border-color: black;
    border-radius:none;
    border-style:outset;
    font-weight: bold;
    text-align: center;
}
section.turno .uno{
    width: 85; 
    text-align: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    height: auto;
    letter-spacing: 0.5px;
    box-sizing: content-box;
  }
section.uno a{
    color: black;
    border-style: outset;
    padding: 5px;
    margin: 10%;
    background-color: #888a94;
    border-color: black;
}
section.uno a:hover{
    color: white;
}
/*Repuestos*/
section.repuesto{
    width: 85; 
    text-align: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    height: auto;
    letter-spacing: 0.5px;
    box-sizing: content-box;
    margin-bottom: 12%;
    
  }
section.repuesto a{
    color: black;
    border-style: outset;
    padding: 0.5%;
    margin: 5%;
    background-color: #888a94;
    border-color: black;
}
section.repuesto a:hover{
    color: white;
}
/*Orden*/

section.gestion{
    background-color: rgb(222, 222, 227);
    width: 60%;
    margin: auto;
    text-align: center;
    padding: auto;
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    border-style:ridge;
    align-items: baseline;
    color: black;

}
section.botons{
    width: 85; 
    text-align: center;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    height: auto;
    letter-spacing: 0.5px;
    box-sizing: content-box;
  }
input.botons{
    color: black;
    border-style: outset;
    padding: 0%;
    margin: auto;
    background-color: #888a94;
    border-color: black;
}
section.uno a:hover{
    color: white;
}
section.form-register h3{
    display: flex;
    justify-content: center;
    width: 85%;
    font-size: 100%;
    padding: 0%;
    margin: auto;
    background-color: #888a94;
    color: black;
    align-items: center;
    padding: 5px;
    height: 5%; 
  }
  /*Credenciales*/
  /*Contraseña*/
  section.titulo h2{
    display: flex;
    justify-content: center;
    width: 85%;
    font-size: 200%;
    padding: 0%;
    margin: auto;
    background-color: #888a94;
    color: black;
    align-items: center;
    padding: 5px;
    height: 5%;   
}